<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign up</h5>
          <%= render "devise/shared/error_messages", resource: resource %>
          <form class="form-signin">
            <div class="form-label-group">
              <%= f.email_field :email, class: "form-control", placeholder: "Email address", required: true  %>
            </div>

            <div class="form-label-group">
              <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true  %>
            </div>

            <div class="form-label-group">
              <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>
            </div>

            <div class="form-label-group">
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password", required: true %>
            </div>

            <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block text-uppercase mb-1" %>
            <%= render "devise/shared/links" %>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
