<div class="row m-2">
  <div class="col-10 offset-1">
    <h2 class="text-center m-3">Users</h2>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td>
            <%= link_to 'Edit', edit_user_path(user), class: "btn btn btn-light" %>
            <%= link_to 'Delete', user_path(user), method: :delete, class: "btn btn btn-light" %>
            <%= link_to 'Toggle Role', toggle_role_user_path(user), method: :post, class: "btn btn btn-light" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
