<div class="row m-2">
  <div class="col-6 text-center mb-2 mt-2">
    <h1>Administrator <%= current_user.name %></h1>
  </div>
  <div id="real-time-info" class="col-6 text-right">
    <%= render 'system_real_time_information', users: @users %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to 'Create User', new_user_path, class: "btn btn-light" %>
    <%= link_to 'Import', import_page_users_path, class: "btn btn-light" %>
  </div>
</div>

<%= render 'list' %>
